<div class="social-widget">
  <div class="col-md-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-facebook fa-5x" aria-hidden="true"></i></a>
  </div>
  <div class="col-md-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
  </div>
</div>
