<div class="social-widget col-xs-12">
  <div class="col-xs-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
  </div>
  <div class="col-xs-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>
  </div>
  <div class="col-xs-4 text-center">
    <a class="social-link" href="#"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
  </div>
</div>
