<h5>Subscribe to {{@blog.title}}</h5>
{{subscribe_form
  form_class="gh-signin"
  input_class="form-control"
  button_class="btn btn-default btn-block"
  placeholder="Your email address"
  autofocus="true"
}}
