/********************
1. Navigation

2. Header

3. Body & Text

4. Post

5. Page

6 . Mobile
**********************/

/* Navigation */
.navbar-nav .nav-link {
  text-transform: uppercase;
}

/* Header */
.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
