/********************
1. Navigation

2. Header

3. Body & Text

4. Post

5. Page

6 . Mobile
**********************/

/* Navigation */
.navbar-nav .nav-link {
  text-transform: uppercase;
}

/* Header */
.header,
.header-page {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}
.header {
  min-height: 350px;
  height: 30vh;
}
.header-page {
  min-height: 300px;
  height: 30vh;
}
h1.header-title {
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  background-color: #10101066;
  padding: 0px 10px;
  border-radius: 10px;
}
.header small {
  text-align: center;
  font-size: 50% !important;
}

/* Body & Text */
.section {
  margin-top: 15px;
  margin-bottom: 15px;
}
.featured-post {
  position: relative;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  height: 300px;
  background-position: center center !important;
  background-size: 100% !important;
  box-shadow: 0px 8px 10px 6px #adb5bd;
  transition-duration: 0.7s;
}
.featured-post:hover {
  background-size: 105% !important;
  cursor: pointer;
  box-shadow: 0px 8px 10px 10px #adb5bd;
}
.featured-post h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  color: #FFF;
  background-color: #0000008f;
  border-radius: 6px;
  padding: 5px 5px;
}
/* Post */

/* Mobile */
@media screen and (max-width: 576px) {
  h1.header-title {
    position: inherit;
  }
}
